{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
            
<html lang='ko'>
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body id = "color">
    <div class="container my-3">
        <table class="table table-sm">
            <thead>
                <tr class="text-center thead-info">
                    {% for col in columns %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr class="text-center tbody-info">
                    {% for data in row %}
                    <td allign = 'center'>{{ data }}</td>
                    {% endfor %}
                </tr>
         
               
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}